extends layout

block content
  h1= title
  - let result = [{ name: "Arabian Sea", sizeinkm: 2400, location: "SouthAsia"},{ name: "Mediterranein", sizeinkm: 1600, location: "North Africa"},{ name: "Black Sea", sizeinkm: 1175, location: "Eastern Europe"}]   
   div.container-fluid 
    div.row
     each sea,index in result
      div.col-sm-2(onclick=`buy(${index})`) #{sea.name}
      div.col-sm-2(onclick=`buy(${index})`) #{sea.sizeinkm}
      div.col-sm-2(onclick=`buy(${index})`) #{sea.location}
      br
      hr

  script. 
       function buy(index)
       {
        alert(`you purchased Item: ${index+1}`)
       }
